@import 'tailwindcss';

:root {
  --font-sans: 'Noto Sans TC', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fbfbfd;
  color: #1d1d1f;
  margin: 0;
  padding: 0;
}

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

input[type='date'] {
  -webkit-appearance: none; /* 取消 iOS 預設樣式 */
  appearance: none;
  box-sizing: border-box; /* 確保寬度包含 padding 與 border */
}
