@import 'tailwindcss';

:root {
  --font-sans: 'Noto Sans TC', sans-serif;
  --marquee-scale: 0.32;
}

@media (min-width: 768px) {
  :root {
    --marquee-scale: 0.425;
  }
}

body {
  font-family: var(--font-sans);
  background-color: #fbfbfd;
  color: #1d1d1f;
  margin: 0;
  padding: 0;
}

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
